<h1>Seja Bem-vindo!</h1>

<p id="nome">Jackson Pires</p>

<p>A soma é: <%= 1 +1 %> </p>

<p> Seu nome de trás para frente é: <%= "Jackson".reverse %>

<% ax = "Minha variável a" %>
<p>Impriminfo a variável a: <%= ax %></p>

<p>a data de hoje é: <%= Date.today %> </p>